{% extends 'layout.html' %}

{% block title %}
    Posts
{% endblock %}

{% block content %}
    <section>
        <h1>Posts</h1>
        
        {% for post in posts %}
            <article>
                <h2>
                    <a href="{% url 'posts:page' slug=post.slug %}">
                        {{ post.title }}
                    </a>
                </h2>
                <p class="date">{{ post.date }}</p>
                <p class="body">{{ post.body }}</p>
            </article>
        {% endfor %}
    </section>
{% endblock %}